*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #222831 ;
  font-family: "Poppins", sans-serif;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

.first-part{
  color: white;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
 position: relative;
 left: 96px;
 top: 256px;
 
}

.second-part{
  color: #00adb5;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  position: relative;
  left: 96px;
  top:256px ;
}

.text {
  display: -webkit-box;
  position: absolute;
  width: 389px;
  height: 189px;
  top: 352px;
  left: 96px;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}