*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #222831;
  color: #fff;
}

main{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 96px;
}

header{
display: flex;
justify-content: space-between;
align-items: center;
}

header>span{
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

nav>ul{
  display: flex;
  padding: 48px 0;
  gap: 48px;
}

nav>ul>li{
  list-style-type: none;
  font-weight: 300;
  font-size: 18px;
}

section{
  height: 100vh;
  display: flex;
  position: relative;
}
section h2 {
  display: inline-block;
  font-size: 64px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 10px;
}

.homePage h2{
  text-transform: uppercase;
  font-size: 96px;
}

section h2>span {
  /* check lastword */
  color:#00ADB5;
}

 section.homePage{
  max-width: 600px;
  margin:100px;
}

.mainContent{
  display: flex;
  flex-direction: column;
}


div.buttonGroup{
  display: flex;
  gap: 20px;
}

div.buttonGroup button{

  display: flex;  
  align-items: center;

  background-color: #333841;
  padding: 10px 32px;
  
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  
  text-shadow: 1px 2px 1px #000;
}

button:first-child{
  background-color: #00ADB5;
}

button.arrowDown{

  position: absolute;
  right:50%;
  top: 200%;
  width: 96px;
  height: 96px;

  color: #fff;
  background-color: #393E46;
  font-size: 18px;
  border:none;
}

img[alt="vectorArrow"]{
  width:100px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: -100px;
}

.imgGroup{
  position: relative;
}

img[alt="background"]{
  position: absolute;
  top:-80px;
  left:30px;
}

img[alt="human"]{
  position: absolute;
  top:80px;
  left:30px;
}

.aboutMe p {
  height: 190px; /* Set a fixed height */
  width: 400px;
  font-size: 18px;
  color: #bbbcbf;
  overflow: hidden;
  text-overflow: ellipsis " [...]";
}
.aboutMe .mainContent{
  height: 300px;
}

img[alt="note"]{
  width:100px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: -100px;
}

img[alt="lightbulb"]{
  width:100px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: -100px;
}

img[alt="arrowUp"]{
  width:100px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: -100px;
}